---
import Code from '@components/mdx/Code.astro'
import SVG from '@components/mdx/SVG.astro'
import ListRelatedPosts from '@components/ListRelatedPosts.astro'
import Share from '@components/ui/Share.astro'
import TableOfContents from '@components/TableOfContents.astro'
import SButton from '@components/mdx/SButton.astro'
import LiteYoutube from '@components/mdx/LiteYoutube.astro'
import { getPosts, getRelatedPosts } from '@src/utils'
import BlogLayout from '@src/layouts/BlogLayout.astro'
import Diagram from '@components/mdx/Diagram.astro'
import { CldImage } from 'astro-cloudinary'

export async function getStaticPaths() {
	const posts = await getPosts()

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}))
}

const post = Astro.props

const relatedPosts = await getRelatedPosts(post)

const { Content, headings, remarkPluginFrontmatter } = await post.render()
---

<BlogLayout id={post.id} data={post.data} headings={headings}>
	<div class="mt-8 grid grid-cols-1 gap-10 md:grid-cols-[20%_auto]">
		<!-- aside  -->
		<aside class="hidden flex-col gap-8 md:flex">
			<Share />
			<div class="sticky top-24 hidden self-start transition-all duration-200 md:block">
				{headings && headings.length > 0 && <TableOfContents {headings} />}
			</div>
		</aside>

		<!-- post -->
		<article class="w-full max-w-full">
			<div class="prose prose-lg prose-invert mb-12 min-w-full md:prose-xl">
				<Content components={{ pre: Code, SButton, LiteYoutube, SVG, Diagram, CldImage }} />
			</div>

			<!-- related posts -->
			<footer>
				<h2 class="mb-6 text-lg font-bold">Articulos Relacionados</h2>
				<ListRelatedPosts posts={relatedPosts} />
			</footer>
		</article>
	</div>
</BlogLayout>
