---
import Button from '@components/ui/Button.astro'

import Header from '@components/Header.astro'
import Card from '@components/ui/Card.astro'
import YoImg from '@/assets/img/Yo.webp'
import OptimizatedPicture from '@components/OptimizatedPicture.astro'
import ValueItem from './ValueItem.astro'
import { Icon } from 'astro-icon/components'

import { CldImage } from 'astro-cloudinary'
import { getEntry } from 'astro:content'

const img = await getEntry('assets', 'assets/pvx4cb7kj9xxklvof54u')

const images = {
	Yo: YoImg,
	codding: '/img/coding.svg',
	socialmedia: '/img/socialmedia.svg',
	creative: '/img/creative.svg'
}

const services = [
	{
		title: 'Diseño Web',
		description: 'Habilidades en la creación de diseños web atractivos.',
		img: images.codding
	},
	{
		title: 'Social Media',
		description:
			'Habilidades para la gestión de comunidades para mejorar el compromiso de los clientes.',
		img: images.socialmedia
	},
	{
		title: 'Diseño Creativo',
		description:
			'Habilidades en la creación de diseños atractivos para la comunicación visual.',
		img: images.creative
	}
]

const values = [
	{
		icon: 'mdi:creation',
		text: 'Innovación constante'
	},
	{
		icon: 'mdi:flash',
		text: 'Excelencia técnica'
	},
	{
		icon: 'mdi:heart',
		text: 'Colaboración y trabajo en equipo'
	},
	{
		icon: 'mdi:target',
		text: 'Integridad y ética profesional'
	},
	{
		icon: 'mdi:book',
		text: 'Aprendizaje continuo'
	},
	{
		icon: 'mdi:eye',
		text: 'Responsabilidad social'
	}
]
---

<!--about--><!--about content-->
<Header title="Sobre" titleCaption="Mi"/>
<div
	class="max-w-screen container flex h-auto w-full flex-col-reverse items-center justify-center px-4 md:flex-row mx-auto"
>
	<div
		class="about-first-paragraph flex w-[95%] flex-col items-center justify-center p-[30px] font-normal md:w-6/12"
	>
		<!--about description-->
		<h2 class="about-first-line mb-2.5 block text-3xl font-bold opacity-100 md:text-5xl">
			Soy un
			<span class="font-extrabold text-[#c70039] transition-all duration-300 ease-in-out"
				>Pionero</span
			>
			En la tendencia de el Marketing 5.0 en Republica Dominicana
		</h2>
		<br />
		<h3 class="about-second-line text-xl font-extralight opacity-80">
			Con mas 2 años de experiencia en el área de marketing. Me considero un apasionado en el
			aprendizaje entorno al área de productos o servicios y satisfacer las necesidades de los
			clientes.
		</h3>
		<div class="cv pt-10">
			<a title="Cv-Link" href="/CV.-Steve-Moya-Cepeda.pdf" target="_blank">
				<Button type="button" variant="download">Descarga Mi CV</Button>
			</a>
		</div>
	</div>
	<!--about picture-->
	<OptimizatedPicture
		class="aspect-square max-h-[600px] max-w-[400] rounded-3xl object-cover"
		src={YoImg}
		loading="eager"
		alt="Steve-Moya-Cepeda"
	/>
</div>

<section class="container mx-auto my-8 h-auto w-full">
	<!--services header-->
	<div
		class="h-auto w-full items-center justify-center p-2.5 py-[30px] text-center font-raleway text-[45px] font-black"
	>
		<span class="font-extrabold text-[#c70039] transition-all duration-300 ease-in-out"
			>Mis</span
		> Conocimientos
	</div>
	<!--services content-->
	<div class="flex h-fit w-full flex-wrap content-center justify-center gap-4 overflow-hidden">
		{
			services.map(({ title, description, img }) => (
				<Card type="about" title={title} description={description} img={img} />
			))
		}
	</div>
</section>
<!--services content end-->
<section class="container mx-auto my-8 h-auto w-full">
	<!--services header-->
	<div
		class="h-auto w-full items-center justify-center p-2.5 py-[30px] text-center font-raleway text-[45px] font-black"
	>
		Mision, Vision y Valores
	</div>
	<!--services content-->
	<div class="mx-auto grid h-fit grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4">
		{/* Misión */}
		<div
			class="row-span-2 flex flex-col justify-between rounded-lg bg-[#191919] p-6 md:col-span-2"
		>
			<div class="row-span-2 flex flex-col rounded-lg p-6 md:col-span-2">
				<div class="mb-4 flex items-center">
					<Icon name="mdi:target" class="mr-3 h-8 w-8 flex-shrink-0 text-[#c70039]" />
					<h3 class="text-xl font-semibold">Misión</h3>
				</div>
				<p class="flex-grow">
					Ofrecer soluciones de marketing digital y diseño web que permitan a las empresas
					crecer y alcanzar sus objetivos de negocio. Aportando valor a través de la
					innovación.
				</p>
			</div>
		</div>

		{/* Visión */}
		<div
			class="row-span-2 flex flex-col justify-between rounded-lg bg-[#191919] p-6 md:col-span-2"
		>
			<div class="row-span-2 flex flex-col rounded-lg p-6 md:col-span-2">
				<div class="mb-4 flex items-center">
					<Icon name="mdi:eye" class="mr-3 h-8 w-8 flex-shrink-0 text-[#c70039]" />
					<h3 class="text-xl font-semibold">Visión</h3>
				</div>
				<p class="flex-grow">
					Ser una persona referente en el sector del marketing digital y diseño web,
					aportando valor a las empresas y ayudándolas a alcanzar sus objetivos de
					negocio.
				</p>
			</div>
		</div>

		{/* Valores */}
		<div
			class="flex flex-col justify-between rounded-lg bg-[#191919] p-6 md:col-span-2 lg:col-span-4"
		>
			<div>
				<div class="mb-4 flex items-center">
					<Icon name="mdi:heart" class="mr-3 h-8 w-8 flex-shrink-0 text-[#c70039]" />

					<h3 class="text-xl font-semibold">Valores</h3>
				</div>
				<div class="grid grid-cols-2 gap-4 md:grid-cols-3">
					{values.map(({ icon, text }) => <ValueItem name={icon}>{text}</ValueItem>)}
				</div>
			</div>
		</div>
	</div>
</section>
