---
import { Image } from 'astro:assets'
import FormattedDate from './ui/FormattedDate.astro'


const {
	data: { title, description, pubDate, heroImage, category },
	readTime,
	slug
} = Astro.props
---

<article
	class="group grid max-h-[420px] min-h-full grid-rows-[300px_auto] rounded-lg bg-[#050505] shadow-2xl md:grid-rows-[300px_220px]"
>
	<a class="relative overflow-hidden" href={`/blog/${slug}/`} title={`Ver ${title}`}>
		<Image
			src={heroImage}
			width={600}
			height={200}
			format="webp"
			class="duration-[0.65s]] aspect-square h-full w-full rounded-lg object-cover object-center transition-all duration-200 hover:scale-[101%]"
			alt={`img of ${title}`}
		/>

		<div class="absolute bottom-0 z-30 h-20 w-full">
			<div class="glass absolute bottom-0 -z-10 min-h-full w-full"></div>
			<div class="flex items-center justify-between gap-x-1 px-6 py-4 text-white">
				<div class="flex flex-col items-center justify-center gap-1">
					<FormattedDate date={pubDate} />
					<span class="text-sm"> {readTime}</span>
				</div>

				<span
					class="absolute bottom-0 right-0 h-auto rounded-t-md bg-[#c70039] p-2 text-center text-lg font-normal transition-all duration-300 ease-in-out"
					>{category}</span
				>
			</div>
		</div>
	</a>

	<div class="flex flex-col gap-4 py-6  md:gap-0">
		<div class="flex flex-col gap-3 text-center">
			<div class="flex flex-col gap-2">
				<a
					class="text-2xl font-semibold capitalize -tracking-wider"
					href={`/blog/${slug}/`}
				>
					{title}
				</a>
			</div>

			<p class="mb-5 line-clamp-3 font-[400] text-gray-700 dark:text-white max-h-6">
				{description}
			</p>
		</div>
	</div>
</article>
