---
import { sluglify, unsluglify, getCategories, getPosts, formatDate } from '@utils/index'
import { siteConfig } from '@src/data/config'
import Pagination from '@components/Pagination.astro'
import ListCategories from '@components/ListCategories.astro'
import Layout from '@layouts/Layout.astro'
import PostCard from '@components/PostCard.astro'
import Header from '@components/Header.astro'

export async function getStaticPaths({ paginate }: any) {
	const categories = await getCategories()
	const allPosts = await getPosts()

	return categories.flatMap((category: string) => {
		const unsluglifyNameCategory = unsluglify(category!.toLowerCase())
		const filteredPosts = allPosts.filter(
			(post) => post.data.category.toLowerCase() === unsluglifyNameCategory
		)

		return paginate(filteredPosts, {
			params: {
				category: sluglify(category.toLowerCase())
			},
			pageSize: siteConfig.paginationSize
		})
	})
}
const params = Astro.params
const { page } = Astro.props

const unsluglifyNameCategory = unsluglify(params.category!.toLowerCase())
const posts = page.data
---

<Layout title={params.category}>
	<Header
		title="Articulos de"
		titleCaption={unsluglifyNameCategory}
		description="Estos son todos los articulos de la categoria de"
		descriptionCaption={unsluglifyNameCategory}
	/>
	<ListCategories activeCategory={params.category} />

	<section class="mx-auto my-8 max-w-[1200px] px-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
		{
			posts.map((post: any) => (
				<PostCard {...post} />
			))
		}
	</section>
	<div class="mt-12">
		<Pagination page={page} />
	</div>
</Layout>
